body{
  font-family: 'Lato', sans-serif;
  color: white;
}

.carousel-caption {
  font-size: 24px;
  right: 19%;
  bottom: 60%
}

.carousel-caption h4{
  font-size: 32px;
}

#slide1 {
  background: url("hero_img.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#slide2 {
  background: url("hero_img2.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#slide3 {
  background: url("hero_img3.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.navbar {
  border-bottom: #ccac55 3px solid;
}

#home-section {
  background: url("vision-1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .home-inner{
  padding-top: 150px;
}

#home-section .home-inner h2{
  font-family: 'Caveat', cursive;
}

#home-section .dark-overlay{
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}