body{
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.carousel-caption {
  bottom: 60%;
}

.btn-light {
  padding: 0.5em 3em;
  border: 0.16em solid #FFFFFF;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  background: transparent;
  bottom: 20%;
  color: white;
}

#slide1 {
  background: url("hero_img.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#slide2 {
  background: url("hero_img2.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#slide3 {
  background: url("hero_img3.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.navbar {
  border-bottom: #ccac55 3px solid;
}

#home-section {
  background: url("vision-1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .home-inner{
  padding-top: 150px;
}

#home-section .home-inner h2{
  font-family: 'Marck Script', cursive;
}

#home-section .dark-overlay{
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#facts {
  color: black;
}